#root{
  width:100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-smoothing: antiialiased;
  overflow-x: hidden;
}

header {
padding: 20px 0 90px 0;
overflow: hidden;
background: #CF4647;
color: white;
}

.link{
  margin: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.container-lrg{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 1080px;
  margin: auto;
}

.col12-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin:0;
  box-sizing: border-box;
  font-family: Sergoe UI;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

.headingtext {
display: flex;
margin: 120px 0 0 0;
text-align: center;
font-weight: 100;
font-size: 50px;
line-height: 68px;

}

@media (max-width: 900px) {.headingtext {
      font-size: 32px;
        line-height: 40px;
    } }

.centerdev12 {
  width: 60%;
  margin: 60px 0 60px;
  position: relative;
}

.col12{
  display: block;
  width: 100%;
  padding: 0 20px;
}

.computerwrap{
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.comp::before {
    height: 6px;
    bottom: -11px;
    border-radius: 40px 40px 40px 40px;
    background: #dde2e9;
    box-shadow: inset 0px -25px 10px -20px rgba(0,0,0,.5);
    content: "";
    position: absolute;
    border-radius: 3px 3px 0 0;
    width: calc(100% + 200px);
    height: 10px;
    background: linear-gradient(to right, rgba(246,250,253,1) 0%,rgba(221,226,233,1) 6%,rgba(246,250,253,1) 15%,rgba(246,250,253,1) 42%,rgba(230, 230, 230, 1) 42%,rgba(246,250,253,1) 45%,rgba(246,250,253,1) 53%,rgba(230, 230, 230, 1) 56%,rgba(246,250,253,1) 56%, rgba(246,250,253,1) 85%,rgba(221,226,233,1) 94%,rgba(246,250,253,1) 100%);
    left: -100px;
}

.comp::after {
    content: "";
    position: absolute;
    border-radius: 3px 3px 0 0;
    width: calc(100% + 200px);
    height: 10px;
    background: linear-gradient(to right, rgba(246,250,253,1) 0%,rgba(221,226,233,1) 6%,rgba(246,250,253,1) 15%,rgba(246,250,253,1) 42%,rgba(230, 230, 230, 1) 42%,rgba(246,250,253,1) 45%,rgba(246,250,253,1) 53%,rgba(230, 230, 230, 1) 56%,rgba(246,250,253,1) 56%, rgba(246,250,253,1) 85%,rgba(221,226,233,1) 94%,rgba(246,250,253,1) 100%);
    left: -100px;
    bottom: -5px;
}

.comp{
  margin: auto;
  width: 100%;
  padding: 20px;
  height: 500px;
  background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
  border-radius: 18px;
  position: relative;
  margin: auto;
  box-shadow: inset 0 2px 7px 1px   rgba(255,255,255,.5),   inset 0 -5px 20px rgba(187,200,225,.35),   0 2px 6px rgba(40,39,66,.14),   0 10px 20px rgba(40,39,66,.06),   76px 75px 169px -35px rgba(0,0,0,0.4);
}

@media (max-width: 740px ) {
  .comp{
  height:calc((100vw - 80px) * .75);
 }
}

.mask{
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 1px 4px rgba(107,124,147,.45);
  background: white;
}

.editor{
  height: 100%;
  color: #85FF00;
  background-color: #002b36;
}

pre{
height: 100%;
overflow-x: auto;
border-radius: 0 0 5px 5px;
padding-left: 20px;
}

.container-sml{
  max-width: 700px;
  margin: auto;
}
.paragraph{
font-size: 17px;
line-height: 32px;
font-weight: 100;
text-align: center;
}

h2{
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0px;
webkit-margin-end: 0px;
}

.ctas{
  text-align: center;
}

.ctas-button{
display: inline-block;
height: 40px;
color: #CF4647;
line-height: 38px;
padding: 0 30px;
background: #fff;
border-radius: 3px;
font-size: 15px;
font-weight: 600;
letter-spacing: .3px;
border: 1px solid white;
text-decoration: none;
}

.feature3{
padding: 90px 0;
border-bottom: 1px solid rgba(0, 0, 0, .1);
align-items: baseline;
}


.svg {
  margin-bottom: 30px;
    color: black;
}

.center {
    align-items: center;
    justify-content: center;
}

b {
    font-weight: bold;
}

.subheading {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  margin-before: 1em;
  margin-after: 1em;
  text-align: center;
}

@media (max-width: 900px) {.subheading {
    font-size: 26px;
    line-height: 35px;
}}

p{
  color: rgba(0, 0, 0, .5);
}
.parahraph{
  text-align: center;
}
.prefixed{
  font-size: 20px;
}

.paragraphEric {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
  text-align: center;
}

.whatisgulp{
display: block;
padding: 90px 0;
background-color: #3A3E64;
color: rgba(255, 255, 255, 0.6);
margin: 0;
box-sizing: border-box;
}

.editor-window{
  width: 640px;
  display: block;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.6);
  }

@media (max-width: 650px ){
  .editor-window{
    width: 100% ; }
}

.editor-menubar{
  background-color: #E5E4E4;
 height: 50px;
 display: flex;
 align-items: center;
 border-radius: 5px 5px 0 0;
}

@media (max-width: 420px) {
    .editor-window code,
    .editor-window code span {
    font-size: 13pt;
    }
}

.editor-close {
   background-color: red;
   margin-left: 10px;
   border-radius: 50%;
   height: 10px;
   width: 10px;
   margin: 0 2px;
   box-shadow: 0px 0px 10px 1px;
}

.editor-minimize{
      background-color: yellow;
  border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    box-shadow: 0px 0px 10px 1px;
}

.editor-maximize{
  background-color: green;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  box-shadow: 0px 0px 10px 1px;
}

.editor-filename{
  color: #141414;
  font-family: Menlo, 'DejaVu Sans Mono', 'Lucida Console', monospace;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 10px;
}

@media (max-width: 600px) {
    .socialproof .col-3 {
        width: 33.33%;
    }
}

.socialproof{
  padding: 90px 0;
}

.footer{
      padding: 45px 0;
      background: #CF4647;
color: white;
}

.container-lrg-flex-baseline{
display: flex;
padding: 0px 18% 0 18%;
}

@media (max-width: 640px){
  .container-lrg-flex-baseline{
    display: block;
  }}

.featureimg{
margin-left: 40%;
margin-right: 35%;
width:100vw/3;
}

.logo1{
  width: 94px;
  height: 45px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  box-sizing: border-box;
}

@media (max-width: 640px){
  .logo1{
    display: none;
  }
}
